@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --animate-spin-slow: spin 8s linear infinite;
}

:root {
  --background: oklch(0.98 0.01 190);
  --foreground: oklch(0.15 0.04 190);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.4 0.18 190);
  --primary-foreground: oklch(0.98 0.02 191);
  --secondary: oklch(0.6 0.02 0);
  --secondary-foreground: oklch(0.15 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.85 0.08 10);
  --accent-foreground: oklch(0.25 0.05 10);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.4 0.18 190);
  --chart-1: oklch(0.4 0.18 190);
  --chart-2: oklch(0.85 0.08 10);
  --chart-3: oklch(0.6 0.02 0);
  --chart-4: oklch(0.61 0.11 222);
  --chart-5: oklch(0.52 0.09 223);
  --radius: 0.8rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.4 0.18 190);
  --sidebar-primary-foreground: oklch(0.98 0.02 191);
  --sidebar-accent: oklch(0.85 0.08 10);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.1 0.04 190);
  --foreground: oklch(0.96 0.02 190);
  --card: oklch(0.14 0.06 190);
  --card-foreground: oklch(0.96 0.02 190);
  --popover: oklch(0.14 0.06 190);
  --popover-foreground: oklch(0.96 0.02 190);
  --primary: oklch(0.45 0.14 190);
  --primary-foreground: oklch(0.96 0.02 190);
  --secondary: oklch(0.45 0.02 0);
  --secondary-foreground: oklch(0.96 0.02 190);
  --muted: oklch(0.18 0.04 190);
  --muted-foreground: oklch(0.7 0.02 190);
  --accent: oklch(0.82 0.08 15);
  --accent-foreground: oklch(0.15 0.05 15);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.22 0.05 190);
  --input: oklch(0.22 0.05 190);
  --ring: oklch(0.45 0.14 190);
  --chart-1: oklch(0.45 0.14 190);
  --chart-2: oklch(0.82 0.08 15);
  --chart-3: oklch(0.45 0.02 0);
  --chart-4: oklch(0.61 0.11 222);
  --chart-5: oklch(0.52 0.09 223);
  --sidebar: oklch(0.14 0.06 190);
  --sidebar-foreground: oklch(0.96 0.02 190);
  --sidebar-primary: oklch(0.45 0.14 190);
  --sidebar-primary-foreground: oklch(0.96 0.02 190);
  --sidebar-accent: oklch(0.18 0.04 190);
  --sidebar-accent-foreground: oklch(0.15 0.05 15);
  --sidebar-border: oklch(0.22 0.05 190);
  --sidebar-ring: oklch(0.45 0.14 190);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
